node_modules/
.next/
out/
dist/
build/
.git/
.gitignore
.env
.env.*
public/
.DS_Store
package-lock.json
yarn.lock
pnpm-lock.yaml
*.tsbuildinfo
storybook-static/
coverage/
next.config.js
postcss.config.js
tsconfig.json
tailwind.config.js
drizzle.config.ts
