node_modules/
.next/
out/
dist/
build/
.git/
.gitignore
.env
.env.*
.DS_Store
public/
package-lock.json
yarn.lock
pnpm-lock.yaml
*.tsbuildinfo
coverage/
storybook-static/
next.config.js
postcss.config.js
tsconfig.json
tailwind.config.js
drizzle.config.ts
